<div class="container profile-navbar mb-5">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link px-4 link-dark" aria-current="page" href="{{ url_for('profile.info') }}">Персональные данные</a>
    </li>
    <li class="nav-item">
      <a class="nav-link px-4 link-dark" href="{{ url_for('profile.address') }}">Адрес доставки</a>
    </li>
    <li class="nav-item">
      <a class="nav-link px-4 link-dark" href="{{ url_for('profile.favourites') }}">Избранное</a>
    </li>
    <li class="nav-item">
      <a class="nav-link px-4 link-dark" href="{{ url_for('profile.orders') }}">История заказов</a>
    </li>
  </ul>
</div>
