{% extends 'base.html' %}
{% from "_render_field.html" import render_field %}
{% from "profile/_render_saved_address.html" import render_saved_address %}

{% block app_content %}
    {% include 'profile/_navbar.html' %}
    {% include '_flashed.html' %}
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <h5 class="mb-4 text-center">Адреса доставки</h5>
                <button type="button" class="btn btn-primary btn-lg w-100 mb-5" data-bs-toggle="modal" data-bs-target="#AddAddressModal">
                    Добавить новый адрес
                </button>
                <div class="modal fade" id="AddAddressModal" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header border-0">
                                <h5 class="modal-title" id="ModalLabel">Адрес доставки</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <form action="" method="post" class="AddAddressForm" id="AddAddressForm" novalidate>
                                    {{ address_form.hidden_tag() }}
                                    <div class="row g-3">
                                        <div class="col-md-6">
                                            {{ render_field(address_form.street) }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ render_field(address_form.house) }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ render_field(address_form.building, value='') }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ render_field(address_form.entrance, value='') }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ render_field(address_form.floor, value='') }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ render_field(address_form.apartment, value='') }}
                                        </div>
                                        <div class="col-12">
                                            {{ render_field(address_form.additional_info, value='') }}
                                        </div>
                                    </div>
                                    <div class="modal-footer border-0">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                        {{ address_form.submit_address(class_="AddBtn btn btn-primary", id="AddBtn") }}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <h5 class="mb-4 text-center">Мои адреса</h5>
                {% if adresses.all() %}
                    {% for address in adresses %}
                        {% set id = address.id | string %}
                        {{ render_saved_address(address_form, address, id) }}
                    {% endfor %}
                {% else %}
                    <p class="text-center text-muted">Вы еще не добавили ни одного адреса</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}