{% extends 'base.html' %}

{% block app_content %}
    {% include 'profile/_navbar.html' %}
    <div class="container">
        <h5 class="mb-4 text-center">Избранное</h5>
        {% if favs %}
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 g-4">
                {% for food in favs %}
                    <div class="col">
                        <div class="card h-100">
                            <a href="{{ url_for('menu.food', food_category=food.category.slug, food=food.slug) }}">
                                <img src="/static/food_images/{{ food.path }}" class="card-img-top img-fluid" alt="{{ food.name_food }}" title="{{ food.name_food }}">
                            </a>
                            <div class="card-body">
                                <h6 class="card-title">{{ food.name_food }}</h6>
                                {% if food.description %}
                                    <p class="card-text">{{ food.weight }} {{ food.measure }} - {{ food.description }}</p>
                                {% else %}
                                    <p class="card-text">{{ food.weight }} {{ food.measure }}</p>
                                {% endif %}
                            </div>
                            <div class="card-footer bg-white border-0">
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="#" class="btn btn-outline-success btn-sm">В корзину</a>
                                    {% if food not in current_user.favs %}
                                        <a href="{{ url_for('profile.add_to_favourites', food_id=food.id, next=request.url) }}" class="btn btn-outline-danger btn-sm">
                                            <i class="bi bi-heart" style="color: red;"></i>
                                        </a>
                                    {% else %}
                                        <a href="{{ url_for('profile.delete_from_favourites', food_id=food.id, next=request.url) }}" class="btn btn-outline-danger btn-sm">
                                            <i class="bi bi-heart-fill" style="color: red;"></i>
                                        </a>
                                    {% endif %}
                                    <p class="card-text fs-6">{{ food.price }}.00 р.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}