{% extends 'base.html' %}
{% from "_render_field.html" import render_field %}

{% block app_content %}
    {% include 'profile/_navbar.html' %}
    {% include '_flashed.html' %}
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-6 col-lg-4 col-xl-4 mx-5">
                <h5 class="mb-4 text-center">Персональные данные</h5>
                <form action="" method="post" novalidate>
                    {{ info_form.hidden_tag() }}
                    <div class="mb-3">
                        {{ info_form.sex.label(class_="mb-1") }}<br>
                        {% for subfield in info_form.sex %}
                            {% if current_user.sex == subfield.label.text %}
                                <tr>
                                    <td>{{ subfield(class_="form-check-input", checked="checked") }}</td>
                                    <td>{{ subfield.label(class_="form-check-label mb-1") }}</td>
                                </tr><br>
                            {% else %}
                                <tr>
                                    <td>{{ subfield(class_="form-check-input") }}</td>
                                    <td>{{ subfield.label(class_="form-check-label mb-1") }}</td>
                                </tr><br>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="mb-3">
                        {{ render_field(info_form.first_name, value=current_user.first_name) }}
                    </div>
                    <div class="mb-3">
                        {{ render_field(info_form.phone_number, value=current_user.phone_number, disabled="disabled") }}
                    </div>
                    <div class="mb-3">
                        {{ render_field(info_form.email, value=current_user.email) }}
                    </div>
                    <div class="mb-3">
                        {{ info_form.submit_info(class_="btn btn-primary w-100") }}
                    </div>
                </form>
            </div>
            <div class="col-12 col-md-6 col-lg-4 col-xl-4 mx-5">
                <h5 class="mb-4 text-center">Безопасность</h5>
                <div class="mt-1">
                    <p>
                        Вы можете изменить пароль в любой момент.
                        Для этого вам нужно ввести старый пароль в первое поле и новый — во второе.
                    </p>
                </div>
                <button class="btn btn-primary btn-lg w-100 mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse">
                    Изменить пароль
                </button>
                <div class="collapse" id="collapse">
                    <form action="" method="post" novalidate>
                        {{ password_form.hidden_tag() }}
                        <div class="mb-3">
                            {{ render_field(password_form.current_password) }}
                            <div class="mt-1">
                                <p><a href="{{ url_for('profile.reset_password') }}" class="text-decoration-none">Забыли пароль?</a></p>
                            </div>
                        </div>
                        <div class="mb-3">
                            {{ render_field(password_form.new_password) }}
                            <div id="PasswordHelp" class="form-text">
                                Ваш пароль должен состоять из 8-20 символов, содержать буквы и цифры и не должен содержать пробелов, 
                                специальных символов или эмодзи.
                            </div>
                        </div>
                        <div class="mb-3">
                            {{ render_field(password_form.new_password2) }}
                        </div>
                        <div class="mb-3">
                            {{ password_form.submit_password(class_="btn btn-primary w-100") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $("#phone_number").inputmask({"mask": "+7 999 999-99-99"});
        });
    </script>
{% endblock %}