{% extends 'base.html' %}

{% block app_content %}
    {% include 'profile/_navbar.html' %}
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <h5 class="mb-4 text-center">Ваши заказы</h5>
                {% for order in orders %}
                    {% set local_datetime = order.start_order.replace(tzinfo=timezone.utc).astimezone(tz=None).strftime('%d.%m.%y в %H:%M') %}
                    <div class="card mb-2">
                        <div class="card-body">
                            <div class="row align-items-center text-center">
                                <div class="col-md-3">
                                    Заказ №{{ order.id }}
                                </div>
                                <div class="col-md-7">
                                    {{ local_datetime }}
                                </div>
                                <div class="col-md">
                                    <a href="" class="show-order link-dark" id="show-order{{ order.id }}" data-bs-toggle="modal" data-bs-target="#OrderModal{{ order.id }}">
                                        <i class="bi bi-card-list" style="font-size: 1.5rem"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="OrderModal{{ order.id }}" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header border-0">
                                    <h5 class="modal-title" id="OrderModalLabel">Заказ №{{ order.id }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Дата оформления заказа: {{ local_datetime }}</p>
                                    <p>Статус заказа: {{ order.order_status }}</p>
                                    {% for food in order.foods %}
                                        {% set food_inst = Food.query.get(food.food_id) %}
                                        <div class="row d-flex justify-content-center align-items-center">
                                            <div class="col-md-2">
                                                <p>{{ food.food_quantity }} x</p>
                                            </div>
                                            <div class="col-md-7">
                                                <p>{{ food_inst.name_food }}</p>
                                            </div>
                                            <div class="col-md-3">
                                                <p>{{ food.food_quantity * food_inst.price }} руб.</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="row d-flex justify-content-center align-items-center">
                                        <div class="col-md">
                                            <p><strong>Сумма заказа</strong></p>
                                        </div>
                                        <div class="col-md-3">
                                            <p>{{ order.total_price }} руб.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer border-0">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                    <a href="{{ url_for('cart.repeat_order', order_id=order.id) }}" class="btn btn-primary" id="RepeatOrder{{ order.id }}">Повторить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}