{% extends 'base.html' %}
{% from "_render_field.html" import render_field, render_floating_field, render_checkbox_field %}

{% block app_content %}
    {% include '_flashed.html' %}
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                <h4 class="mb-4 text-center">Авторизация</h4>
                <form action="" method="post" novalidate>
                    {{ login_form.hidden_tag() }}
                    <div class="form-floating mb-3">
                        {{ render_floating_field(login_form.phone_number, placeholder="89001234567") }}
                    </div>
                    <div class="form-floating mb-3">
                        {{ render_floating_field(login_form.password, placeholder="Пароль") }}
                    </div>
                    <div class="mb-3 form-check">
                        {{ render_checkbox_field(login_form.remember_me) }}
                    </div>
                    <div class="mb-3">
                        {{ login_form.submit_login(class_="btn btn-primary btn-lg w-100") }}
                    </div>
                </form>
                <div class="mb-3 text-center">
                    <p><a href="" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#PhoneModal">Забыли пароль?</a></p>
                    <p>
                        Впервые у нас?
                        <a href="{{ url_for('auth.register') }}" class="text-decoration-none">Зарегистрироваться</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="modal fade" id="PhoneModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered" style="max-width: 400px;">
                <div class="modal-content">
                    <div class="modal-header border-0">
                        <h5 class="modal-title" id="ModalLabel">Восстановление пароля</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" id="RequestForm" novalidate>
                            {{ request_form.hidden_tag() }}
                            <div class="mb-3">
                                {{ render_field(request_form.requested_phone) }}
                            </div>
                            <div class="modal-footer border-0">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                {{ request_form.submit_phone_number(class_="btn btn-primary") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $("#phone_number").inputmask({"mask": "+7 999 999-99-99"});
            $("#requested_phone").inputmask({"mask": "+7 999 999-99-99"});
        });
    </script>
{% endblock %}