{% extends 'base.html' %}
{% from "_render_field.html" import render_field %}

{% block app_content %}
    {% include '_flashed.html' %}
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                <h4 class="mb-4 text-center">Восстановление пароля</h4>
                <form action="" method="post" novalidate>
                    {{ reset_form.hidden_tag() }}
                    <div class="mb-3">
                        {{ render_field(reset_form.password) }}
                    </div>
                    <div class="mb-3">
                        {{ render_field(reset_form.password2) }}
                    </div>
                    <div class="mb-3">
                        {{ reset_form.submit_password(class_="btn btn-primary btn-lg w-100") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}