{% extends 'base.html' %}

{% block app_content %}
    {% include '_breadcrumbs.html' %}
    <div class="container">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-5">
                    <img src="/static/food_images/{{ food.path }}" class="img-fluid rounded-start" alt="{{ food.name_food }}" title="{{ food.name_food }}">
                </div>
                <div class="col-md-7">
                    <div class="card-body mb-3">
                        <h2 class="card-title">{{ food.name_food }}</h2>
                        <p class="card-text text-muted">{{ food.weight }} {{ food.measure }}</p>
                        {% if food.description %}
                            <p class="card-text">{{ food.description.capitalize() }}</p>
                        {% endif %}
                    </div>
                    <div class="card-footer bg-white border-0">
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="#" class="btn btn-outline-success">В корзину</a>
                            {% if food not in current_user.favs %}
                                <a href="{{ url_for('profile.add_to_favourites', food_id=food.id, next=request.url) }}" class="btn btn-outline-danger">
                                    <i class="bi bi-heart" style="color: red;"></i>
                                </a>
                            {% else %}
                                <a href="{{ url_for('profile.delete_from_favourites', food_id=food.id, next=request.url) }}" class="btn btn-outline-danger">
                                    <i class="bi bi-heart-fill" style="color: red;"></i>
                                </a>
                            {% endif %}
                            <p class="card-text fs-5">{{ food.price }}.00 р.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}