{% extends 'base.html' %}

{% block app_content %}
    {% include '_breadcrumbs.html' %}
    <div class="container">
        <div class="card mb-3" id="food{{ food.id }}">
            <div class="row g-0">
                <div class="col-md-5">
                    <img src="/static/food_images/{{ food.path }}" class="img-fluid rounded-start" alt="{{ food.name_food }}" title="{{ food.name_food }}">
                </div>
                <div class="col-md-7">
                    <div class="card-body mb-3">
                        <h2 class="card-title">{{ food.name_food }}</h2>
                        <p class="card-text text-muted">{{ food.weight }} {{ food.measure }}</p>
                        {% if food.description %}
                            <p class="card-text">{{ food.description.capitalize() }}</p>
                        {% endif %}
                    </div>
                    <div class="card-footer bg-white border-0">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="cart-add" id="cart-add{{ food.id }}">
                                <button type="button" class="cart-btn btn btn-outline-success btn-sm" id="cart-btn{{ food.id }}">
                                    В корзину
                                </button>
                            </div>
                            <div class="cart-plus-minus d-flex align-items-center visually-hidden" id="cart-plus-minus{{ food.id }}">
                                <button type="button" class="cart-decrease btn btn-outline-danger btn-sm" id="cart-decrease{{ food.id }}">
                                    <i class="bi bi-arrow-left-circle"></i>
                                </button>
                                <span class="mx-2 cart-quantity" id="cart-quantity{{ food.id }}"></span>
                                <button type="button" class="cart-increase btn btn-outline-danger btn-sm" id="cart-increase{{ food.id }}">
                                    <i class="bi bi-arrow-right-circle"></i>
                                </button>
                            </div>
                            <div>
                                <button type="button" class="favourites btn btn-outline-danger btn-sm" id="fav{{ food.id }}">
                                    <i class="bi bi-heart"></i>
                                </button>
                            </div>
                            <p class="card-text fs-5">{{ food.price }}.00 р.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}