<fieldset class="input-address">
    <div class="row g-3 mb-4">
        <div class="col-md-6">
            {{ render_field(order_form.street) }}
        </div>
        <div class="col-md-6">
            {{ render_field(order_form.house) }}
        </div>
        <div class="col-md-6">
            {{ render_field(order_form.building) }}
        </div>
        <div class="col-md-6">
            {{ render_field(order_form.entrance) }}
        </div>
        <div class="col-md-6">
            {{ render_field(order_form.floor) }}
        </div>
        <div class="col-md-6">
            {{ render_field(order_form.apartment) }}
        </div>
        <div class="col-12">
            {{ render_field(order_form.additional_info) }}
        </div>
    </div>
</fieldset>