{% extends 'base.html' %}
{% from "_render_field.html" import render_field %}

{% block app_content %}
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-10 col-md-8 col-lg-6 col-xl-6">
                <h5 class="mb-4 text-center">Оформление заказа</h5>
                <h6 class="mb-4 text-center">Личные данные</h6>
                <form action="" method="post" novalidate>
                    {{ order_form.hidden_tag() }}
                    <fieldset class="input-personal-info">
                        <div class="row g-3 mb-4">
                            <div class="col-md-6">
                                {{ render_field(order_form.first_name, value=current_user.first_name) }}
                            </div>
                            <div class="col-md-6">
                                {% if current_user.is_anonymous %}
                                    {{ render_field(order_form.phone_number) }}
                                {% else %}
                                    {{ render_field(order_form.phone_number, value=current_user.phone_number) }}
                                {% endif %}
                            </div>
                        </div>
                    </fieldset>
                <h6 class="mb-4 text-center">Доставка</h6>
                {% if current_user.is_anonymous or not current_user.addresses.all() %}
                    {% include "cart/_address_fieldset.html" %}
                {% else %}
                    <p class="mb-4 text-center text-muted">Выберите один из сохраненных Вами адресов или укажите новый</p>
                    {{ order_form.addresses(class_="form-select mb-4") }}
                    {% include "cart/_address_fieldset.html" %}
                {% endif %}
                <fieldset class="input-date-time">
                    <div class="row g-3 mb-4">
                        <div class="col-md-6">
                            {{ order_form.date.label(class_="mb-2") }}
                            {{ order_form.date(class_="form-select") }}
                        </div>
                        <div class="col-md-6">
                            {{ order_form.time.label(class_="mb-2") }}
                            {{ order_form.time(class_="form-select") }}
                        </div>
                    </div>
                </fieldset>
                <fieldset class="input-payment-method">
                    <h6 class="mb-4 text-center">Способ оплаты</h6>
                    <div class="row g-3 mb-4">
                    {% for subfield in order_form.payment_method %}
                        <div class="col-md-6">
                            {{ subfield(class_="form-check-input") }}
                            {{ subfield.label(class_="form-check-label mb-1") }}
                        </div>
                    {% endfor %}
                    </div>
                </fieldset>
                <h6 class="mb-4 text-center">Комментарии</h6>
                <fieldset class="input-order-notes">
                    <div class="row g-3 mb-4">
                        <div class="col-md-12">
                            {{ order_form.number_of_persons.label(class_="mb-2") }}
                            {{ order_form.number_of_persons(class_="form-select") }}
                        </div>
                    </div>
                    <div class="row g-3 mb-5">
                        <div class="col-md-12">
                            {{ order_form.order_notes.label(class_="form-label mb-2") }}
                            {{ order_form.order_notes(class_="form-control", rows=4) }}
                        </div>
                    </div>
                </fieldset>
                <fieldset class="input-order-notes">
                    <div class="d-flex justify-content-center align-items-center">
                        {{ order_form.submit_order(class_="btn btn-outline-danger btn-lg") }}
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $("#phone_number").inputmask({"mask": "+7 999 999-99-99"});
        });
    </script>
{% endblock %}