{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category != 'message' %}
                <div class="container flashed {{ category }} text-center mb-5" role="alert">{{ message }}</div>
            {% else %}
                <div class="container flashed alert alert-info text-center mb-5" role="alert">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}